<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="layout">
    
    <header class="py-4   "> 
        <div class="container-fluid d-grid gap-3 justify-content-center" > 
            
                <div class="d-flex align-items-center"> 
                    <form class="search-form mx-auto" role="search" action="/search" method="GET">
                    <input 
                        type="search"
                        name="bebida"
                        class="form-control"
                        placeholder="Search..."
                        aria-label="Search">
                    </form>
                        
                </div> 
            </div>
    </header>
    <main class="main-content">
    <div class="contenido py-4 
    <%= (!locals.drinks || locals.drinks.length === 0) ? 'contenido-vacio' : '' %>">
    
        <% if(!locals.drinks || locals.drinks.length === 0) { %>
            <h2>Click Here If You Want To Find A Random Liquor Drink</h2>
            <button class="btn-wave" >
                <a href="/drink-random" class="text-white text-decoration-none btn-text">
                
                Random Drink
                <div class="waves wave1"></div>
                <div class="waves wave2"></div>
                        
                
                </a>
            </button>
       
        <%} else { %>
            <div class="row g-4">
                <% drinks.forEach(drink => { %>
                    <div class="col-md-6 col-lg-4 col-xl-2 d-flex justify-content-center">
                        <a href="/drink-details?id=<%= encodeURIComponent(drink.idDrink)%>" class="drink-card-link">
                            <article class="card  shadow-sm card-dark drink-card">
                            <img src="<%= drink.strDrinkThumb %>" class="card-img-top img-drink" alt="<%= drink.strDrink %>">
                
                                <div class="card-body">
                                    <h5 class="card-title"><%= drink.strDrink %></h5>
                                </div>
                            </article>
                        </a>
                    </div>
                <%}) %>
        <% } %>
       
    </div>
    </main>
    <footer class="mt-auto py-3 bg-#D4AF37 text-white"> 
            <ul class="nav justify-content-center border-bottom pb-3 mb-3"> 
                <li class="nav-item"><a href="/drink-glosary?letter=a">A</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=b">B</a> / </li> 
                <li class="nav-item"><a href="/drink-glosary?letter=c">C</a> / </li> 
                <li class="nav-item"><a href="/drink-glosary?letter=d">D</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=e">E</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=f">F</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=g">G</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=h">H</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=i">I</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=j">J</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=k">K</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=l">L</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=m">M</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=n">N</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=o">O</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=p">P</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=q">Q</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=r">R</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=s">S</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=t">T</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=u">U</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=v">V</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=w">W</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=x">X</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=y">Y</a> / </li>
                <li class="nav-item"><a href="/drink-glosary?letter=z">Z</a> / </li>
                
            </ul> 
            <p class="text-center text-body-secondary text-white">© 2025 Company, Inc</p>
         </footer>
         
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
        crossorigin="anonymous">
    </script>
</body>
</html>